[2017-01-26 10:13] rauschma opened #1 "Link to docs in readme?"
Suggestion: link to the following page in README.md: https://dump.01alchemist.com/2016/12/31/future-webhpc-parallel-programming-with-javascript-the-new-era-about-to-begin/ (functions as a sort-of minimal documentation explaining what this project is about).

[2017-01-27 17:46] nidin commented on #1
Useful links added to readme. Detailed documentation will follow after full asm.js emitter validation completed

[2017-01-27 17:46] #1 closed

[2017-01-27 17:47] rauschma commented on #1
👍

[2017-03-15 08:16] nidin opened #2 "User wants to use generic data types with classes"
**What?**
User wants to have generic data type as parameters for classes and functions

**How?**
Implement generic parameters for classes
[code]

[2017-03-15 08:23] nidin opened #3 "User wants to have proper documentations"
**What?**
Write proper documentation for TurboScript

**How?**
Write github wiki pages
- [x] Language Reference
- [x] Quick start
- [x] What's New
- [x] Handbook

[2017-03-15 08:38] suulnnka opened #4 "how to use ?"
1.need npm install -g lite-server typescript ts-node ?
2.run npm run build , src/parser.ts:636 error
3.run bash lib/tc.sh, lib/tc.sh:12&17 error
4.run lite-server, http://localhost:4202/playground/index.html , Output: "ReferenceError: TURBO_PATH is not defined"

how to use it ?

how to define Array\<Int32\>?

[2017-03-16 14:42] nidin opened #5 "User wants to have typeof function"
**What?**
User wants to have typeof function to get underlying type of a variable.

**How?**
[code]

[2017-03-16 14:49] nidin opened #6 "User wants to have "instanceof" function"
**What?**
User wants to have `instanceof` functions to check whether a variable is an instance of specific class

**How?**
[code]

[2017-03-16 15:07] nidin opened #7 "User wants to have "sizeof" functions"
**What?**
User wants to have `sizeof` functions to get storage size of a variable or type in bytes.

**How?**

[code]

[2017-03-16 15:11] ganeshkbhat opened #8 "Testing support or volunteer maturing the project"
Please let me know how I can help.

[2017-03-16 15:54] #8 closed

[2017-03-18 22:06] nidin commented on #4
@suulnnka you can now use `npm install -g turboscript`
and use `tc test.tbs --asmjs --out test.asm.js`

[2017-03-23 11:07] MaxGraey opened #10 "type number"
How about implement general type ```number``` for backward compatibility with Typescript?
It may be just alias of ```float64```.

[2017-03-24 09:28] nidin commented on #10
That is a good idea, I was also thinking about it. TurboScript's ultimate goal is to compile pure typescript to WASM. right now i am implementing generic data types for array support which is more important in my readmap. after completing the generics i will add type number.
Thanks for the input. 👍

[2017-03-24 10:26] MaxGraey opened #11 "Compile time creatation bridge between wasm and javascript"
It's enchantment idea for far future.

How about to automatically create bridge for some js code block that can't directly translate to wasm? For example we have some part of js code with reflectance or compute properties or anything that not work in wasm enviroment but instead generate error we generate speed issuer warning and creating bridge from wasm -> js and vice versa for guaranteed executi

[2017-03-24 13:39] MaxGraey opened #12 "This simple class code compile, but incorrectly"
Example:

[code]

[2017-03-24 17:29] nidin commented on #11
Sure, why not. I have also similar idea.

[2017-03-24 17:32] nidin commented on #12
which target ? asm.js or wasm? or both.
Try adding return this inside constructor

[2017-03-24 17:36] MaxGraey commented on #12
Yes, adding ```return this``` compile correctly. So I think it's just limitation current implementation^ but generating error in compile time but to generate an error still stands

[2017-03-24 17:41] nidin commented on #12
Ideally there is no return type or return statement needed in constructor. It's a limitation/bug or to be precise it's a lazy implementation of constructor. I am renaming the title of the issue

[2017-03-24 18:44] nidin commented on #12
This issue is fixed. now constructor syntax is aligned with typescript.

[2017-03-24 18:44] #12 closed

[2017-03-24 19:08] MaxGraey commented on #12
Wow, I see you implement also return ```this``` as type for constructors according to last PRs. Good job!

[2017-03-24 19:25] MaxGraey opened #14 "Standard libs Math and polyfills (charCodeAt, fromCharCode, etc)"
According to this: https://github.com/WebAssembly/design/blob/master/FAQ.md we need manually implement all sets of js enviroment. This is big job. I could help with this

[2017-03-25 00:27] MaxGraey commented on #14
How you bind Math library to Wasm right now? It seems just import from js according this: https://github.com/01alchemist/TurboScript/blob/master/tests/math-wasm.html.

One more thing. In declared set of WasmOpcodes is missing f32_fma and f64_fma: https://github.com/01alchemist/TurboScript/blob/master/src/wasm/opcode.ts

[2017-03-25 08:13] nidin commented on #14
Right now importing from JavaScript built-in. I need to implement method overload to use same functions for different signatures like in JavaScript. It's a big task to implement all built-ins manually. We need to wait for WASM 2 Specification to be finalized before implementing this manually. For now, for compatibility we can import slow Math library from JS and gradually add fast implementations

[2017-03-25 10:27] nidin opened #15 "User wants to have method overload"
**What?**
User want to have method overload, exclude constructor from this scope.

**How?**
[code]

[2017-03-25 10:32] #4 closed

[2017-03-25 19:46] MaxGraey commented on #14
That's right we definitely need fma command for IEEE-754 (2008) compatible sin, cos, log and etc, but min, max, sqrt, rounding and abs we already has direct equivalents in wasm, so we can use them now

[2017-03-25 20:36] nidin commented on #14
Sure we can implement direct equalents right away. right now built-in classes and functions are located inside library folder.

[2017-03-26 17:20] nidin opened #18 "Make travis-ci green"
**What?**
Fix TypeScript errors and make travis-ci green

[2017-03-26 17:21] nidin opened #19 "Setup jest test framework"
**What?**
Setup karma or better test framework then add basic test suites.

[2017-03-26 19:26] #18 closed

[2017-03-26 21:41] MaxGraey opened #21 "Optinal and default arguments"
[code]
and
[code]

[2017-03-28 05:29] nidin commented on #21
In second example did you mean optional return. In that case following is more declarative since we need either void or a type.
'''
getContext():void|type
'''

[2017-03-28 07:39] MaxGraey commented on #21
Sure, in Typescript uses type|void or type|null but since TurboScript is a superset of TurboScript we can have a convenient alternative. I think declaration of optional returning type better in Swift-like manner: this representation is more compact.

[2017-03-28 08:18] MaxGraey commented on #21
However according to this: https://github.com/Microsoft/TypeScript/issues/7426
That proposal decline in TypeScript. The main problem to determine that is ```?```. It is a ```type | null | undefined``` or ```type | undefined``` which very sensitive to strict equality

[2017-03-28 10:26] MaxGraey opened #22 "object = null instead delete object for deallocation"
```object  = null``` is standard way to signalize for GC to delete reference in js.

[2017-03-28 11:23] nidin commented on #21
[code]
If above signature means `getContext` return `RenderContext` or `null` we dont need `?` operator since all types are nullable.
[code]
above code is valid. Also optional return is not possible since at compile time there must be only one type. Multiple return types must be handled with `interfaces`.

[2017-03-28 11:24] nidin commented on #21
We need to implement default arguments.

[2017-03-28 11:40] MaxGraey commented on #21
Ok, I got it. So I rename topic just for default arguments

[2017-03-28 11:50] MaxGraey commented on #15
How about declare overloads as 'union types' for example:

[code]

Is actually compile to:
[code]

[2017-03-28 13:27] nidin commented on #22
Thats a cool idea. 👍

[2017-03-28 13:40] nidin commented on #15
But user can pass any mixed combination of union types that might break the code. for example.
[code]
better idea is
[code]
in this way `a` and `b` are of same type. this can handle all cases including classes with `+` operator but classes cannot cast to float64.

[2017-03-28 13:58] MaxGraey commented on #15
Sure, That's better!

[2017-03-28 19:01] winksaville opened #25 "Error trying to add a server"
I've [created a change](https://github.com/winksaville/TurboScript/commit/089d203ac719660f9b0726305e898914b23d2e01) which adds a server to be used with tests. But I'm getting in the Browser:
[code]
Here are versions of my system
[code]

What am I doing wrong?

[2017-03-28 20:55] winksaville commented on #25
I figured out the version problem, I needed to recompile addTwo.tbs. Which I did so using:
[code]
 But now I have a new problem, the browser doesn't see either reference to addTwo as a function:
[code]
So again I ask; What am I doing Wrong?

[2017-03-28 21:01] nidin commented on #25
Most of the tests are broken with latest changes. I'll fix it tomorrow.

[2017-03-28 21:03] nidin commented on #25
Also there is no more reference WASM files since wasm emitter is stable now.

[2017-03-28 21:57] winksaville commented on #25
If you give me a clue I'd like to try to fix addTwo.

On Tue, Mar 28, 2017, 2:03 PM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-03-29 05:23] nidin commented on #25
In master i already fixed addTwo, please look in to source and use the same export function names in html page. there is a file `make.js` just run `node make.js` it should build tests and copy binary to `tests/bin`. in make.js i added only few test files. you may add all tests but it might broke.

[2017-03-29 18:45] winksaville commented on #25
The `make node.js` didn't work for me:
[code]
So I tweaked my [add-server branch](https://github.com/winksaville/TurboScript/commits/add-server) and its now working for addTwo-wasm. You first do `npm run test:build` and then start the server with `npm run server`. Finally, something like `google-chrome-stable http://localhost:3000/tests/addTwo-wasm.html` and looking at the console output and addTw

[2017-03-30 00:05] nidin commented on #25
Hi @winksaville,
Nice work.
The goal is to target both browser and node.js. for now we can start with node.js only since TurboScript cannot access DOM or any browser API and scope for the v1 is support all WASM MVP features. No GC, No DOM access, basic interoperability with external JS.

I am also not interested in supporting asm.js for long term. asm.js currently support shared memory but WASM do

[2017-03-30 04:07] winksaville commented on #25
SG, I'll work up a PR and we'll see where it goes.

[2017-03-30 04:07] #25 closed

[2017-03-30 05:34] nidin commented on #25
@winksaville  make.js script patched for portability and added a task in package.json use `npm run test:build`  could you please pull latest changes from master.

[2017-03-30 15:11] jpambrun opened #27 "Slack button says administrator has not enabled email signups."
Slack says 'This team's administrator has not enabled email signups' which makes the button a bit useless.

Also, I really want this project to succeed. After spending a lot of time on a performance intensive JS app, this would be like a dream come true.

[2017-03-30 15:26] nidin commented on #27
Oops! Let me check.

[2017-03-30 15:41] nidin commented on #27
You need an invitation to join slack. open a ticket with your email address. I will make it happen.

[2017-03-30 15:41] #27 closed

[2017-03-30 16:11] nidin opened #28 "User wants to have switch statement"
**What?**
User wants to have ecmascript switch statement

**How?**
[code]

[2017-03-30 16:13] nidin opened #29 "User wants to have for loop"
**What?**
User wants to have ecmascript for loop.

**How?**
[code]

[2017-03-30 17:42] jpambrun commented on #27
My email is on my github profile.

[2017-03-30 22:17] winksaville opened #30 "Please add me to Slack"
My email address is wink@saville.com

[2017-03-31 03:45] nidin commented on #30
Invitation sent.

[2017-03-31 04:47] nidin opened #31 "User wants to have array literal [] to construct arrays"
**What?**
User wants to have array literal [] to construct arrays

**How?**
[code]

[2017-04-01 15:21] winksaville commented on #30
I'm on slack, txs

[2017-04-01 15:21] #30 closed

[2017-04-04 11:25] thanhtranit opened #32 "Please add me to Slack"
Hi @nidin,
please add me to the slack, my email: vanthanh2305@gmail.com
I'm very interesting with this project. Thanks!

[2017-04-04 13:50] nidin commented on #32
Added to slack and warm welcome to the team.

[2017-04-04 14:13] #32 closed

[2017-04-08 13:12] MaxGraey opened #38 "Wrong compilation"
Wrong compilation for this code:

[code]

[2017-04-10 14:49] nidin opened #41 "Automatic installation of appropriate node 8"
**What?**
Write a script to install appropriate node 8 nightly automatically using npm script.

**How?**
[code]

[2017-04-10 19:08] #38 closed

[2017-04-11 09:00] nidin opened #43 "Developers wants to have fast TDD setup"
**What?**
Developers wants to have an integrated solution for TDD which should be fast and simple.

**How?**
Use gaze-run-interrupt with alsatian

[2017-04-12 08:40] nidin opened #44 "Commented Import statement not considered as commented"
**What?**
[code]
Above code will try to load Math from disk.

[2017-04-12 10:44] #44 closed

[2017-04-12 10:53] nidin opened #46 "Comma separated import not working"

[2017-04-12 11:04] #46 closed

[2017-04-12 11:19] nidin opened #48 "User wants to have class inheritance"
**What?**
User wants to have typescript style class inheritance.

**How?**
[code]

[2017-04-12 12:28] winksaville commented on #48
Not necessarily see [these]{https://www.google.com/search?q=the+problem+with+oo+inheritance&oq=the+problem+with+oo+inheritance+&aqs=chrome..69i57j33.2247j0j4&client=ms-android-google&sourceid=chrome-mobile&ie=UTF-8) at a minimum this should be post 1.0.

[2017-04-12 12:44] nidin commented on #48
:smile: sure moved to v2

[2017-04-12 14:18] winksaville commented on #22
What is the philosophy for memory management?

My opinion is to keep things simple and only support manual memory management initially (i.e. malloc/free) and if a module doesn't do any malloc/free operations there would be no cost to the module.

[2017-04-12 14:21] winksaville commented on #21
Is this needed for v1, i'd vote for v2?

[2017-04-12 14:22] winksaville commented on #43
If easy nice, otherwise v2?

[2017-04-12 14:23] nidin commented on #22
Same philosophy here. MVP only support manual memory management. There is
another possible optimization, we can auto free allocated memory if it's
not referencing outside of a function and the instance is a local variable.

On Wed 12. Apr 2017 at 4:18 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 14:25] nidin commented on #21
Let's move it to V2 since it's not blocking basic functionality

On Wed 12. Apr 2017 at 4:21 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 14:25] winksaville commented on #31
Nice to have but v2 as you can always do it outside of initialization.

let trinagles = [3];
triangles[0] = new Triangle();
triangles[1] = new Triangle();
triangles[2] = new Triangle();

[2017-04-12 14:27] winksaville commented on #19
Is Alsatian good enough for now, maybe close.

[2017-04-12 14:31] winksaville commented on #14
Be sure there are no associated costs for modules that don't use these features.

[2017-04-12 14:44] winksaville commented on #10
Is the goal really to be a proper super/subset of TypeScript? I think that also means Turbo is JavaScript. This is laudable goal and someone will do it, but is that really the long term goal?

I'd like to suggest creating a wiki page with the long term goals of the project defined up front. It will provide guidance for features and allow newbies to understand the project direction.

[2017-04-12 14:45] winksaville commented on #7
+1

[2017-04-12 14:47] winksaville commented on #6
v2?

[2017-04-12 14:47] winksaville commented on #5
v2?

[2017-04-12 14:49] winksaville commented on #3
Definitely v1!!!!

[2017-04-12 14:50] winksaville commented on #2
v2?

[2017-04-12 15:01] winksaville opened #50 "Complete first version of the Goals page"
Here is the current [Goals](https://github.com/01alchemist/TurboScript/wiki/Goals), @nidin please create a first version.

[2017-04-12 15:13] nidin commented on #14
Tree shaking should remove unused functions.
So there will be no extra cost.

On Wed 12. Apr 2017 at 4:32 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 15:47] nidin commented on #2
Generics types for classes are already implemented but generics functions
are not implemented. May be we should split it in to two  issues.

On Wed 12. Apr 2017 at 4:50 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 15:48] nidin commented on #5
Nice to have in v1

On Wed 12. Apr 2017 at 4:47 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 15:49] nidin commented on #6
Nice to have in v1 but it can be skipped to v2.

On Wed 12. Apr 2017 at 4:47 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 15:54] nidin commented on #10
My personal goal for TurboScript is to be a superset of TypeScript and keep
the JavaScript like syntax.

On Wed 12. Apr 2017 at 4:44 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 15:55] MaxGraey commented on #14
@nidin Is it possible use wasm's sqrt, clz, ctz, popcount, copysign and etc now?

[2017-04-12 15:59] MaxGraey commented on #7
It will be great if we can apply this function to generics types as well

[2017-04-12 16:02] nidin commented on #19
I am having little trouble with Alsatian.
1. Decorators are not yet standardized
2. For me it's throwing errors. I'll share the details soon.
3. When compare with other tools like jest, It is lacking features.
3. Cannot test typescript directly
4. No builtin watch and continues testing

For an alternative I am experimenting with Jest from Facebook.

On Wed 12. Apr 2017 at 4:27 PM, Wink Saville <no

[2017-04-12 16:04] nidin commented on #14
Not yet. No work done in that direction.
You are free to investigate.

On Wed 12. Apr 2017 at 5:55 PM, Max Graey <notifications@github.com> wrote:

[2017-04-12 16:47] winksaville commented on #19
What do you mean you can't test Typescript directly?

I can take a look at any problems, point me to them, I can look at them today.

[2017-04-12 16:50] nidin commented on #19
Typescript need to compile to JavaScript manually to test with Alsatian.
With ts-jest we don't need to compile typescript manually

On Wed 12. Apr 2017 at 6:47 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 17:12] winksaville commented on #19
Well, I'm not sure I want automatic compilation as I think (could be wrong) I need to be in control of the tsconfig.json, at least that's what I'm finding.

[2017-04-12 17:39] nidin commented on #19
You can also pass tsconfig to Jest.

On Wed 12. Apr 2017 at 7:12 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 18:07] winksaville commented on #19
Good.

I like the annotation technique, especially TestCase but if you find
ts-jest better, np. Do let me as see the problem you're having if you don't
come up with a solution.

On Wed, Apr 12, 2017, 10:39 AM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-04-12 18:22] winksaville commented on #10
Do you want to support prototypal object or class based objects. I'm
guessing that class based objects are faster because they are compiled time
generated. That would seem to be counter to the need for performance
orientation. Is it a requirement to support JavaScript syntax and semantics
too?

On Wed, Apr 12, 2017, 8:54 AM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-04-12 18:30] winksaville commented on #50
I'd missed the original [Design Goals](https://github.com/01alchemist/TurboScript/wiki/Design-goals) page.

[2017-04-12 18:30] #50 closed

[2017-04-12 18:32] winksaville commented on #6
SG

On Wed, Apr 12, 2017 at 8:49 AM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-04-12 18:36] winksaville commented on #6
Is there a way to tag it v1.0.0 "nice to have", if not maybe mark it with a
"v1.1.0" label so its obvious what's nice to have and what's a requirement.

On Wed, Apr 12, 2017 at 11:32 AM Wink Saville <wink@saville.com> wrote:

[2017-04-12 18:36] winksaville commented on #5
Mark as such (v1.1.0)?

On Wed, Apr 12, 2017 at 8:48 AM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-04-12 18:37] winksaville commented on #2
Agreed

On Wed, Apr 12, 2017 at 8:47 AM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-04-12 20:21] nidin commented on #19
I also like the concept of annotation (decorators) but Alsatian is not
working as I expected also the transpiled JavaScript code is bit heavy.

On Wed 12. Apr 2017 at 8:07 PM, Wink Saville <notifications@github.com>
wrote:

[2017-04-12 20:49] nidin commented on #10
Right now I am only thinking about class based objects. Keeping JavaScript dialect is a requirement. When WASM garbage collector ready, supporting pure JavaScript features are not a problem. There is also a typed object proposal for WASM. TurboScript should be able to compile GC code and non-GC code. for now keep everything lite as possible.

[2017-04-12 20:52] nidin opened #51 "User wants to use generic data types with functions"
**What?**
User wants to have generic data type as parameters for functions

**How?**
[code]

[2017-04-12 20:53] #2 closed

[2017-04-12 21:06] nidin commented on #5
Moved to v2 but nice to have in v1

[2017-04-12 23:47] winksaville commented on #19
Let me know what's not working.

On Wed, Apr 12, 2017, 1:21 PM Nidin Vinayakan <notifications@github.com>
wrote:

[2017-04-13 04:42] winksaville opened #56 "Updgrading systemjs to 0.20.x causes ./bin/tc to fail"
I updated systemjs to =0.20.0:
[code]
And then reinstalled
[code]
Then rebuilt the compiler
[code]
And then ran ./bin/tc and got the following error:
[code]
The same error happens on "systemjs": "^0.20.0" which get the latest version 0.20.12

[2017-04-13 07:00] nidin commented on #19
I cannot reproduce the issue in Windows. It only shows in Mac. Could be an issue with tsc version. Right now I don't have mac to test it.

[2017-04-13 07:19] nidin commented on #19
I wan to cleanup script section in package.json. I am thinking about something like this.
[code]
and I want to make scripts portable by avoiding platform dependent codes. it should work on Linux, Mac and Windows without a problem.

**some advantages of Jest**
Jest will watch file changes and only run related tests. Its easy for TDD.
http://facebook.github.io/jest/docs/cli.html#watch
We can configu

[2017-04-13 14:47] winksaville commented on #19
I was thinking, changing to scripts and having them run on any platform is a good long term goal, but in the short term I wonder if we should focus on one platform for the compiler development and runtime. I'd vote for Linux for development and node-v8 for runtime.

As for testing jest/ts-jest is fine, but I know nothing, so @nidin could you please create an initial test since it sounds like you'v

[2017-04-13 17:43] nidin commented on #19
I disagree on arrowing development down to node.js because.
1. WebAssembly Implementation in Node.js is not yet completely ready.
2. All major browsers already support full WebAssembly v1
3. Primary target is browser since Node.js user can already use native code compiled from C++ or other languages.

I will setup Jest and add few tests both for node.js and browser

[2017-04-13 20:02] winksaville commented on #19
OK, do you want both or just browser?

What is your opinion on the current development platforms, I'd suggested just Linux for short term?

[2017-04-13 20:49] nidin commented on #19
wherever webassembly can run.
I am working with all three platforms. Windows workstation mainly for graphics programming, Mac book pro for office and other normal works, Linux special cases; mainly for compatibility check and deployment setup. So I would keep all three platforms active during development.

[2017-04-14 03:22] winksaville commented on #19
I agree all popular and capable systems need to be supported. I just
suggest all alpha work be done using 1 dev system and 1 target, it will
make less work during this time of greatest changes. To make changes to
support 3 dev systems and 2 or 3 targets we're potentially have 6 to 9
combinations to test and support, that seems like a lot. If we choose 1 dev
and 1 target there is only 1 combination

[2017-04-14 03:40] nidin commented on #19
Of course our continues integration only test against node.js on Linux but I need to make sure it is working on at least chrome and Firefox.

[2017-04-14 04:03] winksaville commented on #19
OK

[2017-04-15 20:56] MaxGraey opened #60 "User want type aliasing"
#### How?

[code]

[2017-04-18 14:32] nidin commented on #56
global.System  = require("systemjs") in tc.ts fixed the issue.

[2017-04-18 14:32] #56 closed

[2017-04-18 14:33] nidin commented on #43
for TDD use "yarn watch-test"

[2017-04-18 14:33] #43 closed

[2017-04-18 14:36] nidin commented on #41
use "yarn install:node-v8" to install latest node v8 nightly. If we experience problems with latest nightly i will hard code latest working version.

[2017-04-18 14:36] #41 closed

[2017-04-18 14:38] #19 closed

[2017-04-18 16:47] nidin opened #66 "Wrong linked function call index"
**What?**
Linked function call index is wrong in webassembly output.

[2017-04-19 19:30] MaxGraey commented on #22
Has there been any progress in this direction? Unfortunately I'm not too good at parser stuffs, but I think it should not be too difficult

[2017-04-19 19:53] nidin commented on #22
It is doable. I will try it next week.

[2017-04-19 20:52] MaxGraey commented on #22
Great!

[2017-04-23 20:11] MaxGraey opened #69 "Can't compile example with calling self methods in generic class"
#### Reproduction:

[code]
#### Output:

[code]

[2017-04-23 22:45] MaxGraey commented on #6
Also it would be very useful to implement `this.constructor`.

[2017-04-25 19:29] nidin commented on #69
Could you please add it as a test case?

[2017-04-25 20:11] MaxGraey commented on #69
sure!

[2017-04-25 20:54] MaxGraey commented on #69
I added it to manual tests. After you resolve add to automatic test directory as well

[2017-04-27 15:23] nidin commented on #31
Moved to v2.0.0
Plan is to reduce calls and do a bulk allocation for array literals.

[2017-04-27 15:28] nidin commented on #51
We already implemented generics for classes  (#2) therefore same code can be reused to implement this feature.

[2017-04-27 16:06] nidin opened #71 "Implement wasm native sqrt for f32 & f64"
**What?**
WebAssembly comes with f32.sqrt & f64.sqrt. use this native instructions to implement Math.sqrt

[2017-04-27 16:58] MaxGraey commented on #71
Yeah, that would be great! After that we could make performance tests

[2017-05-01 18:27] nidin opened #72 "User wants to selective compile part of the code to specific target"
**What?**
User wants to compile specific part of the code to specific target.

**How?**
[code]

[2017-05-08 02:41] dcodeIO opened #74 "Slack invitation"
This looks like a pretty cool project that I could imagine to contribute to. May I get an invitation to your Slack? Email is dcode@dcode.io

[2017-05-08 16:05] nidin commented on #69
You don't need to close the issue manually. Wafflebot close it automatically when the pull request merge 😎

[2017-05-08 16:06] #69 closed

[2017-05-08 16:07] MaxGraey commented on #69
Sure, I forgot that we have bot for this routine)

[2017-05-08 16:07] nidin commented on #69
☺️

[2017-05-08 16:11] nidin commented on #74
Awesome 😎 invitation sent 👍🏻
Warm welcome to the team 🎉

[2017-05-08 16:11] #74 closed

[2017-05-09 17:00] nidin opened #76 "User wants to have string type"
**What?**
User wants to have basic string support.

[2017-05-09 20:07] MichaReiser opened #77 "Benchmark Results?"
I'm just curious. Do you have any benchmark that compares TurboScript with JS or Emscripten?

[2017-05-09 22:12] nidin commented on #77
Not yet. I am planning to do some encoding/ decoding benchmark.

[2017-05-10 00:12] MaxGraey commented on #77
I also prepare n-body bench, but I'm waiting wasm's sqrt.

[2017-05-10 06:42] nidin commented on #77
@max then I will try to add sqrt support today :)

[2017-05-12 06:21] ukyo opened #78 "A function that returns a value in block throws an error"
A function that returns a value in block throws an error as below.

[code]

[code]

[code]

wast code(generated with [wasm2wast](https://github.com/WebAssembly/wabt))

[code]

[2017-05-12 21:59] nidin commented on #78
Its a known bug. A block should define a return type if the something returned inside a block.

[2017-05-13 18:23] #71 closed

[2017-05-13 18:28] nidin opened #80 "User wants to export function & local names for debug"
**What?**
Export function & local names to wasm custom name section

**How?**
Refer : [binary format ](http://webassembly.org/docs/binary-encoding/#name-section)

[2017-05-14 16:58] MaxGraey opened #81 "User wants exponented float literals"
**What?**
User wants to have exponent declaration literal for float numbers.

**How?**
[code]

[2017-05-14 17:44] MaxGraey commented on #77
@nidin check slack plz. I have some questions.

[2017-05-14 18:04] MaxGraey opened #83 "User wants constant expressions"
**How?**
[code]

[2017-05-16 00:47] liangzeng opened #84 "I want to contribute, what knowledge do I need? Llvm?"
I want to contribute, what knowledge do I need? Llvm?

[2017-05-16 01:39] liangzeng opened #85 "result++ have error"
mac  node.js v7.10.0

### Turboscript code
[code]
### run have error
[code]

### if remove (result++ ) if ok
[code]

### if use ++result replace result++ is ok
[code]

[2017-05-16 02:05] liangzeng opened #86 "error: Cannot read from /./ts2.tbs"
### env: mac   node.js v7.10.0

####  ts.tbs
[code]

#### ts2.tbs
[code]

#### out
[code]

[2017-05-16 04:15] nidin opened #87 "TypeScript compiler integration."
In order to move fast forward we need to integrate turboscript with typescript compiler. I will create a new branch for it.

[2017-05-16 04:29] nidin commented on #84
Hi @liangzeng we have a slack team if you are interested i can add you to the team. of course we can also discuss in github.

We are planning to integrate TurboScript with TypeScript compiler since typescript already done great job in type checking. we are investigating on how to integrate with typescript.

No LLVM knowledge needed at this point but I am planning an LLVM IR backend for TurboScript

[2017-05-17 07:48] MichaReiser commented on #87
Hmm... that's the one decision I regret. It made the code horribly complicated, and the compiler supports the wrong features.

Main issues I had

- The API is just not intended to be used for a compiler. It is mainly a type checker. You will face many situations where the API just does not provide the information you need, or you need to hack around to get to the information
- There is no API docu

[2017-05-17 09:03] nidin commented on #87
Good points. These were the initial reasons I don't choose modifying TypeScript compiler. Mainly I don't understand TypeScript compiler due to lack of documentation.
🙏  Thanks for the valuable input.

[2017-05-17 09:20] MichaReiser commented on #87
The TypeScript API is quite simple in most cases. However, it's often unclear what result you get (in some cases you will find out that the result seems not to return what you have expected but behaves well for others).

However, I understand that you don't want to maintain your own type checker. But at the moment I don't know of any TypeChecker that has support for "low-level types". Supporting t

[2017-05-17 09:22] nidin commented on #84
@liangzeng We have a new thread to discuss TypeScript compiler integration here #87 . Its seems not easy therefore we will keep the current compiler code base and make it more sound and bug free. If you have any crazy ideas please feel free to drop it here or create a new issue.
Looking forward to your contributions  💪

[2017-05-17 09:40] nidin commented on #87
For the time being I will continue supporting current TurboScript type checker. The primary goal is not supporting complete TypeScript instead make TypeScript like language (TurboScript) faster in WebAssembly

[2017-05-17 10:34] liangzeng commented on #87
I think language grammar and typescript the same, while adding new types, and for efficiency do not have to support all the typescript syntax, if all support is better.

[code]

[2017-05-17 10:35] liangzeng commented on #84
@nidin ok

[2017-05-17 10:59] MichaReiser commented on #48
How do you intend to maintain typescript syntax without requiring a vtable lookup for every method call?

If all methods are virtual by default then every call requires a (very expensive) vtable lookup. So I assume it is preferred to explicitly declare with methods are virtual (like in C++ or C#). However, TypeScript has no syntax to do so.

[2017-05-17 14:34] MaxGraey commented on #87
@MichaReiser in speedy.js you are using custom visitor of AST Walker, right? But what if using someting lower level like this: https://github.com/Microsoft/TypeScript/blob/02547fe664a1b5d1f07ea459f054c34e356d3746/tests/cases/conformance/parser/ecmascript5/parserRealSource11.ts

[2017-05-17 14:48] MichaReiser commented on #87
@MaxGraey The AST walking part isn't the problem. Most compiler use AST walking for generating the source code. The custom transform is needed to remove the source of the compiled function from the emitted code and to rewrite the entry functions (a function that is called from pure js).

The main problem of the TypeScript API are the missing base types. These are one of the main reasons why WebAss

[2017-05-17 14:54] winksaville commented on #87
What about using LLVM?

[2017-05-17 14:59] MichaReiser commented on #87
@winksaville
I believe that is a totally different topic, isn't it?

I believe LLVM is great and offers many optimizations for free. However, it requires that the users have an llvm installation, making the setup much harder --- especially as the web assembly backend is not yet part of the prebuilt binaries. I personally would use the optimizer that is part of binaryen and compare the runtime of T

[2017-05-17 15:00] MaxGraey commented on #87
@MichaReiser so implement for example SyntaxKind.Float32Keyword, and create it as intrinsic type is huge problem?

[2017-05-17 15:03] MaxGraey commented on #87
@winksaville someone told that emscripten or other tool allow optimize wasm files. So we can generate unoptimized wasm and optimize it later if needed.

[2017-05-17 15:06] MichaReiser commented on #87
@MaxGraey [Yes](https://github.com/MichaReiser/TypeScript/commit/66228db105dd8db7f0fbd6e1daab9fc63cdc0d91) it is. You need to maintain your own version of TypeScript. And, since TypeScript is written in TypeScript you may need to make further adjustments to the TypeScript code just that it still compiles. I don't know if this is any better than maintain a custom, very simple type checker instead?

[2017-05-17 15:41] winksaville commented on #87
@MichaReiser it is a different subject, but it seemed that using TypeScript to generate wasm wasn't practical based on your comments so I just threw it out. And you're right there are no prebuilt binaries yet but apparently it will be in the next release. I have compiled the a tool chain using [these instructions](https://gist.github.com/yurydelendik/4eeff8248aeb14ce763e) and it was able to compil

[2017-05-17 15:46] MichaReiser commented on #87
@winksaville That's the toolchain I'm using in Speedy.js

[2017-05-17 15:58] nidin commented on #87
I would wait for TypeScript team's official support for low level types,
otherwise we might need to spent more time on patching TypeScript. At this
point I would suggest freeze adding features to TurboScript and make
current version bug free.
@MichaReiser I dropped class inheritance for now. I need to fix the issue
with generics and we will make some benchmarks against TypeScript version
then we c

[2017-05-17 16:14] winksaville commented on #87
@MichaReiser an FYI its confusing to me that you say Speedy.js is a JavaScript to wasm compiler but then you say it takes TypeScript source.

So I think @nidin's goal "TypeScript like language (TurboScript) faster in WebAssembly" is the right goal.

[2017-05-17 22:02] liangzeng commented on #87
I find it  https://github.com/jeremyfa/node-ts2hx
have help ?

Typscript -> c++ -> wasm ?

[2017-05-17 22:05] liangzeng commented on #87
find it  https://github.com/andrei-markeev/ts2c

typescript -> c -> wasm ?

[2017-05-17 22:06] MaxGraey commented on #87
@liangzeng I don't think so it's a good idia. A lot of tools and compile time and we should support 3-4 tools in the same time instead just one

[2017-05-17 22:08] MaxGraey commented on #87
By the way this tool stack ts -> haxe -> c -> emscripten -> wasm already used in NectarJS and it has a huge bundle size

[2017-05-17 22:58] liangzeng commented on #87
ts -> wast -> wasm
Whether to reduce the workload?

[2017-05-17 23:06] MaxGraey commented on #87
ts2c is completely unusable. For example it can't transpile this simple example:

[code]

[2017-05-17 23:11] MaxGraey commented on #87
@liangzeng
I think ts -> wasm and optional wasm -> wasm optimization via binaryen

[2017-05-18 04:22] nidin commented on #87
There will be no more features in TurboScript v1 until we get a decent test coverage.
TurboScript v2 scope will be like this.
![TurboScript Scope](https://01alchemist.com/images/turboscript/turboscript-scope.png)
emitted code will share common runtime in WebAssembly like malloc, free and stdlib. Unsupported features will emit to JavaScript and imported to WebAssembly. its not really bad because wh

[2017-05-18 06:09] liangzeng commented on #87
@nidin  good idea .  c/c++ also can not use webassembly to achieve all features .

javascript + webassembly = c/c++ all features

[2017-05-18 06:14] liangzeng commented on #87
The real effect of webassembly is loop and recursion ,so first implement.
other language features can be added step by step.

[2017-05-18 06:17] liangzeng commented on #87
Typescript ------compile ---> JavascriptWrap + WebAssembly

[2017-05-18 06:21] liangzeng commented on #87
Typescript ------compile ---> JavascriptWrap + WebAssembly
WebAssembly is preview  , the way is flexible .

[2017-05-18 06:39] liangzeng commented on #87
In the future,  can implement the full implementation Typescript features.

Typescript / Javascript ------ compile ---> dynamic (javascript) + static (webassembly)

Feature

Compile life cycle plugins
Compile parameters
"Use wasm" tag
Smart tips
Other

☯ Dynamic and static combined into one.

[2017-05-18 06:49] liangzeng commented on #87
[code]

[2017-05-19 03:40] nidin opened #88 "Negation generating unreachable wasm opcode"
**What?**
[code]
Negation generating unreachable wasm opcode

[2017-05-19 06:31] nidin opened #89 "Infer default floating point literal to float64"
**What?**
Infer default floating point literal to float64 type instead of float32
[code]
:warning: This is a breaking change.

[2017-05-19 06:33] nidin commented on #81
This enhancement added to support benchmarks :)

[2017-05-19 14:04] MaxGraey commented on #81
This is not very huge problem, we can always bring it to non-exponent format manually.

[2017-05-19 14:06] nidin commented on #81
No worries, It was an easy addition.

[2017-05-21 23:10] MaxGraey opened #90 "overloading builin operators proposal"
Proposal this expressions:
[code]

Should be operators (has NODE_FLAG_OPERATOR) with ability overloading in turboscript

[2017-05-22 00:52] winksaville commented on #90
Are other operators overloadable, like the arithmetic operators?

On Sun, May 21, 2017, 4:10 PM Max Graey <notifications@github.com> wrote:

[2017-05-22 09:52] MaxGraey commented on #90
@winksaville I don't thin so build-in operators overloaded but it would be nice

[2017-05-23 14:48] MaxGraey commented on #87
So now we have three ts -> wasm projects with three different approach:
- [TurboScript](https://github.com/01alchemist/TurboScript)
- [speedy.js](https://github.com/MichaReiser/speedy.js)
- [AssemblyScript](https://github.com/dcodeIO/AssemblyScript)

[2017-05-25 14:04] nidin commented on #77
MaxGraey's N-Body Benchmark results WebAssembly vs JavaScript
![image](https://cloud.githubusercontent.com/assets/198246/26453351/afbd98bc-4163-11e7-86d0-4cd6f6b79304.png)

[2017-05-25 14:06] MaxGraey commented on #77
It's without binaryen optimizations?

[2017-05-25 14:08] nidin commented on #77
Yes. I tried binaryen but was getting errors. I don't know what is the problem.

[2017-05-25 14:12] MaxGraey commented on #77
It seems a good result as for unoptimized version! I think next we should add same bench test for c++ (emscripten).

[2017-05-25 14:16] MichaReiser commented on #77
Thank you. That's what I expected :( JavaScript is faster than most of us think it is. Furthermore, I believe that the JITs have still some room concerning optimizing WASM.

That's a good idea. Just ensure that you use at least `-O2`

[2017-05-25 14:28] MaxGraey commented on #77
@MichaReiser can you add n-body test to your bench tests? You can find sources [here](https://github.com/MaxGraey/TurboScript/blob/MaxGraey/add-benchmark/benchmark/n-body/ts/index.ts). It will be interesting how LLVM optimized this bench.

[2017-05-25 14:29] MichaReiser commented on #77
@MaxGraey
I just wanted to ask you if you can give me the JS source. So, thanks! Will take a look soon.

[2017-05-25 14:55] MichaReiser commented on #77
hmm... If i look at the result... WASM and JS do not return the same results

[2017-05-25 15:06] MichaReiser commented on #77
**Chrome**
JS: 1.54775s 🎉
WASM: 1.91057s

**Firefox**:
JS: 1.360125s 🎉
WASM: 1.3785s

I prefer the results of Firefox. In my case, both implementations return the same result.

MacBook Mid 2014

[2017-05-25 15:11] nidin commented on #77
Good numbers.

[2017-05-25 15:58] winksaville commented on #77
Where is the benchmark code, I'll create a C/C++ version if I have time today?

[2017-05-25 16:03] MaxGraey commented on #77
@winksaville [code](https://github.com/MaxGraey/TurboScript/blob/MaxGraey/add-benchmark/benchmark/n-body/ts/index.ts)

[2017-05-25 16:29] winksaville commented on #77
This
<http://benchmarksgame.alioth.debian.org/u64q/program.php?test=nbody&lang=typescript&id=3>
from
The Computer Language Benchmark Game
<http://benchmarksgame.alioth.debian.org/> looks similar, but not exactly.

Where did you get yours? I'm guessing wherever that was there is already a
C version, like this one
<http://benchmarksgame.alioth.debian.org/u64q/program.php?test=nbody&lang=gcc&id=4>
fr

[2017-05-25 16:31] MichaReiser commented on #77
I ran the same benchmark with optimizations disabled:

**Chrome**
js: 1.63425s
wasm: 3.4968s

**Firefox**
js: 1.463375s
wasm: 3.14s

So, the optimization make a huge difference!

Something I want to add. I believe nbody is not a good benchmark to show that TurboScript can be faster. The problem here is, that nbody makes no use of CPU instructions that only WASM offers. Furthermore, a JIT compiler

[2017-05-25 16:46] winksaville commented on #77
I suspect the reason is that it's early days for the internal wasm
compilers, but time will tell.

On Thu, May 25, 2017 at 9:31 AM Micha Reiser <notifications@github.com>
wrote:

[2017-05-25 17:36] MaxGraey commented on #77
@MichaReiser LLVM do the same job: aggressive inlining, dead code illumination, precompute constant expressions and much more and I think it should do this better then JIT which need balance between quality of optimization and time of compilation.

[2017-05-25 17:42] MaxGraey commented on #77
n-body bench is very common test for any language. I think computing ```fib``` or ```isPrime``` is more syntactic

[2017-05-25 18:01] MichaReiser commented on #77
The point about balancing is true. However, if you look at a function that is generally only called with non null values. However, it also accepts null values. An offline compiler cannot remove those branches (except the function is inlined) as there might be the case where the function is actually called with null. A JIT compiler, on the contrary, can remove all branches for null if the function

[2017-05-25 18:37] #80 closed

[2017-05-25 20:51] nidin opened #92 "Refine import"
**What?**
Refine import syntax for
* Importing external TurboScript
* Importing JavaScript functions

Decouple declare native function from import.

[2017-05-25 20:55] nidin opened #93 "Add all native WASM fuctions"
**What?**
Add all available native WASM functions.

#### function List

[2017-05-25 21:36] #77 closed

[2017-05-26 04:53] #81 closed

[2017-05-26 04:53] #89 closed

[2017-05-26 04:53] #88 closed

[2017-05-26 05:08] #66 closed

[2017-05-26 05:10] #3 closed

[2017-05-26 05:11] nidin opened #95 "User wants to have basic tutorials"

[2017-05-28 04:07] #78 closed

[2017-05-28 07:17] #86 closed

[2017-05-28 07:18] nidin commented on #86
This should have fixed in master.

[2017-05-28 19:28] nidin opened #100 "int64 write is broken"

[2017-05-29 03:47] nidin opened #101 "Implement wasm global variable"

[2017-05-30 03:38] #93 closed

[2017-05-30 16:55] MaxGraey opened #102 "New Playground"
I'm working now on new playground for TurboScript, AssemblyScript and may be speedy.js. And I thinking of best way to integrate compiler back-end for TurboScript. I see previous playground implemented in user browser and I like this approach because I can publish in this case to Github Pages, but if I choose to server-sided compiler I could make databases and other useful stuff. In that case I nee

[2017-05-30 17:03] dcodeIO commented on #102
Note that the final product will use the TurboScript compiler instead of asc :)

[2017-05-30 17:05] MaxGraey commented on #102
Yes, user could choose between AssemblyScript and Turboscript :)

[2017-05-31 04:38] nidin commented on #102
Here is a list
* https://zeit.co/pricing (max single file size 1MB / total storage 1GB)
* https://www.heroku.com/pricing (limited resources)
* https://aws.amazon.com/free/ (complicated setup)

[2017-05-31 05:05] nidin opened #104 "Video & Image Processing Benchmark"

[2017-05-31 05:41] MaxGraey commented on #102
Thanks, I decided use frontend compiler yet. But bay be in future I switch to dedicated server

[2017-05-31 10:01] #100 closed

[2017-05-31 10:01] #101 closed

[2017-05-31 11:40] #85 closed

[2017-06-02 17:51] nidin opened #106 "Implement wasm stack machine to optimize code emitter"

[2017-06-03 10:09] MichaReiser commented on #77
Just a short update

I implemented the nbody benchmark using emscripten:

Chrome:
[code]

Firefox:

[code]

I need to investigate what causes the difference between Emscripten and my implementation. But it should be possible to be, at least, as fast as JavaScript.

The source code of the C++ implementation is located [here](https://github.com/MichaReiser/speedy.js/blob/b3d966c5a12cfa9b3c3d5181099a

[2017-06-04 13:37] MaxGraey opened #107 "Simplificate setup and compiling on browser side"
The main problem with existing code is high dependency of turboscript's library, systemjs and very complicated setup process:

[code]

But ```loadLibrary``` and ```compileJavaScript``` contains in common.js, so now we need load a lot of files: "system.js" , "common.js", "turbo.js", "array.tbs", "malloc.tbs", "types.tbs" and our init script.

**My propositions:**

**1.** Make one solid ```bundle```

[2017-06-04 19:57] nidin commented on #107
I am redesiging most of the parts this is one of it

[2017-06-06 09:03] #106 closed

[2017-06-06 16:19] #107 closed

[2017-06-07 08:24] pannous opened #110 "Improve QuickStart guidance"
awesome project!

newcomers still need two clicks to find this: https://github.com/01alchemist/TurboScript/wiki/Quick-start  and then they need further clicks to find out how actual example code looks like.

 suggestion: put it on the main readme, together with some small example.

PS: greetings to Munich! 𓃹

[2017-06-07 15:09] cspotcode opened #111 "Slack invitation"
Hey, this project looks awesome!  Can I get a Slack invitation?  cspotcode@gmail.com

[2017-06-11 07:42] nidin commented on #111
Sure. Warm welcome to the team. invitation already sent.

[2017-06-11 07:42] #111 closed

[2017-06-11 08:14] nidin commented on #110
Sure, I am on it. 👍

[2017-06-11 08:21] nidin opened #112 "Indexed read/write for pointers"
[code]

[2017-06-14 04:06] #112 closed

[2017-06-14 04:08] nidin commented on #102
@MaxGraey Is the new playground hosted in github?

[2017-06-14 04:10] nidin commented on #102
@MaxGraey  never mind, I found it from your pinned repos. I can contribute to spin up TurboScript compilation.

[2017-06-14 05:21] MaxGraey commented on #102
@nidin If you integrate turboscript It will be awesome. I had some problems with resolving tbs files

[2017-06-14 05:22] nidin commented on #102
Sure, I will look in to it today.

[2017-06-14 05:36] MaxGraey commented on #102
[compile routine for turboscript](https://github.com/MaxGraey/Assembleash/blob/master/src/Containers/EditorContainer.js#L219)

Just implement basic things with default compiler options. Every compiler has its own set of settings, so still need some refactoring. I will do this later.

[turboscript source directory](https://github.com/MaxGraey/Assembleash/tree/master/public/compilers/TurboScript). E

[2017-06-14 20:29] nidin commented on #83
immutable globals with initialize expression is not yet supported but planned.

[2017-06-14 20:59] nidin opened #114 "Use tee_local to optimize wasm output"

[2017-06-14 23:14] MaxGraey opened #115 "How about minification for tubo.js boundle?"
1. In tsconfig should be "target": "es5"
2. add to webpack ```new webpack.optimize.UglifyJsPlugin({ mange: true, compress:true })``` pass.
3. source map in separate file

[2017-06-15 11:33] #102 closed

[2017-06-15 18:44] MaxGraey opened #116 "Stange compilation error"
**Code:**
[code]

**Error:**
[code]

[2017-06-15 21:24] MaxGraey opened #117 "Optional semicolons"
**How**
[code]
But
[code]

[2017-06-16 03:15] nidin commented on #117
I was thinking about it. it's on my list.

[2017-06-16 03:18] nidin commented on #116
Nice catch. I will investigate it.

[2017-06-16 04:35] nidin commented on #115
Added

[2017-06-16 04:35] #115 closed

[2017-06-16 04:35] nidin commented on #110
Basic examples added to README

[2017-06-16 04:35] #110 closed

[2017-06-16 15:16] MaxGraey opened #121 "User wants int32[] as well as Array<int32>"
**How**
[code]

[2017-06-16 15:57] dcodeIO commented on #121
It should be possible to use `int32[]` as a type already, but this cannot be used as an expression (as in `new int32[]`) because (at least I believe so) that's not valid TypeScript . Use `new Array` instead.

[2017-06-16 15:57] dcodeIO commented on #121
Sorry, wrong repo ^^

[2017-06-16 19:33] nidin commented on #121
😄 btw @dcodeIO is Array type implemented in AssemblyScript

[2017-06-17 13:41] MaxGraey opened #123 "It wiil be perfect build boundle after any new release."
Because Assembleash playground now link directly to github's lib/turboscript.min.js

[2017-06-17 19:30] nidin commented on #123
I saw it. Already configured webpack to build dev and release separately.

[2017-06-17 19:30] #123 closed

[2017-06-18 21:08] nidin commented on #121
@MaxGraey I would simplify
[code]
to
[code]

[2017-06-18 21:10] nidin opened #124 "Add optional optimization using binaryen"

[2017-06-18 21:14] MaxGraey commented on #121
I think ```new``` keyword should be exists.
[code]

[2017-06-18 21:16] MaxGraey opened #125 "Can't use latest TurboScript in browser (1.0.2-beta)"
```window.turboscript``` is undefined

[2017-06-19 03:46] nidin commented on #125
It seems working for me in Assembleash.

[2017-06-21 16:23] MaxGraey commented on #125
Currently I use scriptjs for dynamic loading. I try loadjs, systemjs and all the same issue - turboscript load, but not visible in window scope. I can't figure out what is problem

[2017-06-22 04:18] nidin commented on #125
Changed webpack library bundle type from umd to var. now its working. but its a problem with scriptjs.

[2017-06-22 04:18] #125 closed

[2017-06-22 09:21] MaxGraey commented on #125
Thanks!

[2017-06-22 16:18] jslegers commented on #87
So, let me get this straight...

* You want people to be able to write any code that is either valid TypeScript or valid TurboScript in the same codebase
* If it is valid TurboScript, it will be compiled to WebAssembly
* if it is not valid TurboScript but valid TypeScript, it will be compiled to ordinary JavaScript

Am I correct that this is where you guys are heading towards?

If yes, that sounds

[2017-06-22 20:00] nidin commented on #87
@jslegers Yes, you got it right. but I don't have any intention to strictly complains with typescript syntax. Master plan is to compile everything to WebAssembly and choose a fast path over typescript but that is an ambitious goal therefore most of the JavaScript features will compile back to JavaScript and step by step implement it in WebAssembly. I am more interested in parallel programming so y

[2017-06-23 08:21] jslegers commented on #87
Ambitious! I'll definitely be keeping an eye on this project...

If you haven't already, you should consider finding yourself a corporate sponsor for this project. I see a lot of potential here, but even the greatest projects tend to whither fairly fast if it's backed only by just a bunch of geeks who do the coding in their spare time.

[2017-06-23 16:53] facekapow opened #126 "Custom Memory Access?"
I was wondering if it's possible to override the runtime's memory management. See, since TurboScript compiles to WebAssembly, I'm looking to integrate it into an OS that uses V8 (called runtime.js) and I'd like to use TurboScript to simplify memory access (JavaScript doesn't have pointers or structs or any of the myriad of great memory management features TurboScript has). The only problem is, Tur

[2017-06-23 18:58] RangerMauve commented on #126
@facekapow I think you're able to dynamically increase memory for a WebAssembly context and pass buffers in an out

[2017-06-23 19:01] facekapow commented on #126
@RangerMauve Thanks for your response, but what I meant was providing access to native memory. i.e. passing in specific areas of memory, or even giving it access to all the memory on the system. I can do it if I'm able to pass in ArrayBuffers as memory. I just don't know how (or if) that's possible.

[2017-06-23 19:05] MaxGraey commented on #126
WebAssembly run in the same sandbox as well as javascript and hasn't direct access to system memory. Only one difference between js and wasm - last one use linear preallocated memory without GC.

[2017-06-23 19:10] facekapow commented on #126
@MaxGraey Well, the thing is, the OS (runtime.js) provides native memory access to JavaScript via ArrayBuffers. I can get direct system memory access from the OS in JavaScript. Given that, could I pass that ArrayBuffer to WebAssembly so it can work with it instead of its sandboxed memory?

[2017-06-23 19:10] RangerMauve commented on #126
You could definately pass in an ArrayBuffer as an argument to functions exported from a WASM module.

Consider reading the API docs [on mdn](https://developer.mozilla.org/en-US/docs/WebAssembly/Using_the_JavaScript_API)

[2017-06-23 19:11] RangerMauve commented on #126
It won't work the same way as the sandboxed memory since that's managed by WASM, but you could have WASM modify the memory in the array buffer

[2017-06-23 19:16] dcodeIO commented on #126
The way this currently works is to specify a memory instance on instantiation of the module, and to import and use that as its memory. The only way to do this dynamically otherwise is to copy to the existing memory.

[2017-06-24 00:12] aafrey opened #127 "Slack invitation"
Howdy! any chance I can grab a a slack invite? aafrey85@gmail.com thanks!

[2017-06-24 00:39] facekapow commented on #126
Ok, thanks to everyone who helped, I'll figure something out 👍

[2017-06-24 00:39] #126 closed

[2017-06-24 05:00] winksaville commented on #126
Some quick thoughts:

*) Provide an import that does peek/poke or higher level functionality.
*) Consider creating something other than a JavaScript based runtime, there
is nothing that's JavaScript specific in the spec, AFAICT. I'm interested
in doing something like this.
*) Create a WebAssembly to native compiler, one way to do this might be to
create a wast/wasm to native code generator for llv

[2017-06-24 07:39] nidin commented on #127
Sure, invitation already sent.
Warm welcome to the team. 🙂

[2017-06-24 07:39] #127 closed

[2017-06-24 07:55] nidin commented on #126
@facekapow You can pass independently created wasm memory instance to a wasm module. You Need to provide same native memory access via wasm memory. May it will be easy with SharedArrayBuffer. I guess shared memory will be accessible from JavaScript and Wasm.

[2017-06-26 17:18] MaxGraey opened #129 "It seems 1.0.5-beta broken in browser"

[2017-06-27 04:13] nidin commented on #129
I reverted webpack library target to umd. bcoz "var" library target was not working in nodejs.
I am investigating umd load problem with scriptjs

[2017-06-27 06:09] MaxGraey opened #130 "Internal Error with Arrays declared globally"
**Code**
[code]
**Error**
Function not defined at index NaN

[2017-06-27 06:10] MaxGraey commented on #129
It will be perfect! Now I use static linked scripts for TS and AS

[2017-06-28 19:03] nidin commented on #130
Declaration was in global space, that make sense. probably global variable initialization expression problem.

[2017-06-29 21:50] MaxGraey opened #132 "Error in set accessor."
**code**
[code]

**Error**
[code]
It seems TurboScript accessors not implemented yet?

[2017-06-29 21:51] dcodeIO commented on #132
there is no support for getters and setters yet

[2017-06-29 21:52] MaxGraey commented on #132
@dcodeIO This is TurboScript repo=)

[2017-06-29 21:57] dcodeIO commented on #132
oh no, not again ^^ going to make sure that this won't happen again.

[2017-06-29 22:14] MaxGraey commented on #132
Never say "never ever"=)

[2017-06-30 15:29] nidin commented on #132
@dcodeIO No problem man :)

[2017-06-30 15:30] nidin commented on #132
@MaxGraey I will check.

[2017-06-30 17:03] nidin commented on #132
Just create an empty constructor

[2017-07-01 03:57] #132 closed

[2017-07-01 05:30] #130 closed

[2017-07-02 06:22] bakabird opened #135 "/library/dlmalloc.wasm not found"
Every time i use `tc`.
It report `WARN  Requested file /Users/yang*****gwy/rddit/wast/tbs//library/dlmalloc.wasm not found`
Is that worng?
[code]

[2017-07-02 06:37] bakabird commented on #76
yes.

[2017-07-02 16:37] nidin commented on #135
could you please try 1.0.9-beta

[2017-07-02 17:38] MaxGraey opened #136 "Cannot compile Arrays (1.0.9-beta)"
**Code**
[code]

**Error**
Not supported! Maximum wasm binaries supported in WasmMerger is 1

[2017-07-02 17:57] nidin commented on #135
You can ignore that warning. dlmalloc.wasm is embedded in to turboscript complied code.

[2017-07-02 17:57] #135 closed

[2017-07-02 18:02] nidin commented on #129
I guess, this might be the problem
![image](https://user-images.githubusercontent.com/198246/27772380-5554f750-5f61-11e7-8631-fdac11940fbb.png)

[2017-07-02 18:04] nidin commented on #129
are you using rawgit.com?

[2017-07-02 18:54] MaxGraey commented on #129
I use rawgit.com of course.
Check tests my [script.js repo](https://github.com/MaxGraey/script.js/blob/master/tests/tests.js). This test pass in vanilla js but fail inside react.js environment=(

[2017-07-02 18:57] MaxGraey commented on #129
Modern browsers ignore MIME type. But recommend use ```application/javascript```. Never mind, script always load successfully.Main problem with assignment to global scope

[2017-07-03 04:09] #136 closed

[2017-07-03 04:15] #84 closed

[2017-07-03 04:17] #29 closed

[2017-07-03 04:17] nidin commented on #29
For loop already implemented

[2017-07-03 17:27] nidin commented on #76
Good question. Never thought about it.
If int is a pointer to utf-8 bytes it make sense.

[2017-07-04 03:19] nidin commented on #129
I am closing this issue as this cannot be fixed from this repo.

[2017-07-04 03:19] #129 closed

[2017-07-04 11:11] MaxGraey commented on #129
sure

[2017-08-17 21:39] dignifiedquire opened #137 "Unable to use unsigned right shift operator"
When trying to use the `>>>` operator I get a compiler error saying ` ERROR: Unexpected '>'`, `>>` compiles fine.

[2017-08-18 17:34] nidin commented on #137
**Not implemented**
TurboScript was a prototype and I am no logger updating this repo instead I am working on a language specification for TurboScript [here](https://github.com/TurboScriptLang/spec/blob/master/spec.md) once the spec completed. I will start working on the fresh implementation.

[2017-08-18 17:34] #137 closed

[2017-08-29 15:50] ohenepee opened #138 "Is this only for browser or I can use in Node.js?"

[2017-08-29 18:27] RangerMauve commented on #138
The latest version of Node has experimental support for WASM. Details [here](http://thecodebarbarian.com/getting-started-with-webassembly-in-node.js.html)

[2017-08-30 08:14] nidin commented on #138
Yes, it is also available in Node.js however This repository is not maintaining. You may try.
[AssemblyScript ](https://github.com/AssemblyScript/assemblyscript) which is similar to TurboScript.

[2017-09-02 17:49] ohenepee commented on #138
Thanks

[2017-09-02 17:49] #138 closed

[2017-10-02 18:08] ghost opened #140 "SIMD support?"
Hello. Will TurboScript support of SIMD and threads? I want to make global illumination with these instructions.

[2017-10-08 09:32] nidin commented on #140
Checkout [AssemblyScript](https://github.com/AssemblyScript/assemblyscript) I will contribute to AssemblyScript once the spec for SIMD and Thread finalised. Between i do have a plan to write a global illumination renderer. let me know when you start working on it.

[2017-10-08 09:32] #140 closed, assigned to nobody

[2017-10-10 19:19] mikcsabee opened #141 "Module declaration error"
When I try to compile the following code ([source](https://github.com/TurboScriptLang/spec/blob/master/spec.md#32-declarations-and-dynamic-linking)) :

[code]

I got the following error:
[code]

[2017-10-11 08:02] nidin commented on #141
@mikcsabee The latest spec is not yet implemented. I am not developing TurboScript for now. Please check [AssemblyScript](https://github.com/AssemblyScript/assemblyscript) which I am contributing.

[2017-10-11 12:38] #141 closed, assigned to nobody

[2017-10-28 15:59] ColinEberhardt opened #142 "Join slack!"
Hi, I’d be interested in joining the slack channel and potentially contributing. My email is colin (dot) Eberhardt (at) gmail (dot) com

[2017-10-28 19:37] nidin commented on #142
Hi @ColinEberhardt,
Slack channel is not active. I don't have enough time to work on TurboScript due to my daily job.
But I am working on a language specification instead of implementing new features in this repo.
Anyway this repo was mainly for a prototype and it reached its goal.
Spec repo can be found here. https://github.com/TurboScriptLang/spec/blob/master/spec.md
If you are interested, you m

[2017-11-01 06:07] ColinEberhardt commented on #142
That's a shame - but thanks for letting me know!

[2017-11-01 06:07] #142 closed, assigned to nobody

[2018-02-25 15:42] andrewfluck opened #143 "Slack Invitation"
Hey I'm really interested in this project. Could you add me to slack? andrewtfluck@gmail.com

[2018-02-25 15:50] ColinEberhardt commented on #143
https://github.com/01alchemist/TurboScript/issues/142

[2018-02-25 15:51] andrewfluck commented on #143
🙈

[2018-02-25 15:51] #143 closed, assigned to nobody

[2018-02-25 15:54] MaxGraey commented on #143
@andrewfluck
I advise you to pay attention to [AssemblyScript](https://github.com/AssemblyScript/assemblyscript) which has similar goals.

[2018-02-25 15:57] andrewfluck commented on #143
ok sounds 👍 :)

[2018-02-28 09:30] nidin commented on #143
Hi @andrewfluck, We are no longer investing time on this project, at least for now.  Like Max said follow  AssemblyScript which is similar. I may restart TurboScript when WebGPU is ready and it will be pure parallel programming platform.

[2018-02-28 09:52] MaxGraey commented on #143
@nidin din I think make sense turn repo to ready only mode while project in friezed status. What you think?

[2018-02-28 09:59] nidin commented on #143
@MaxGraey That make sense 👍